.generos-musicais {
    padding: 40px 20px;
   
}

.titulo {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;
    color:#1E1E1E ;
}

.descricao-secao {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #1E1E1E;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-genero {
    display: flex;
    background-color: #d23f31;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    text-align: center;
}

.card-genero img {
    max-width: 500px;
    height: auto;
}

.genero-conteudo {
    padding: 20px;
}

.genero-conteudo h2 {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 10px;
}

.genero-conteudo p {
    font-size: 1rem;
    color: white;
}


