body {
    font-family: 'Poppins', sans-serif;
    background-color: #FDB347;
    margin: 0;
    padding: 0;
    padding-top: 100px; /* Vai garantir que o restante do conteúdo apareça depois do cabeçalho*/
}

.navbar {
    background: #FDB347;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: fixed; /* Fixa o header no topo */
    top: 0;
    left: 0;
    z-index: 1000; /* Garante que o header fique acima de outros elementos */
    height: 90px;
    font-size: medium;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.navbar-brand img {
    width: 90px;
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
    transition: transform 0.2s ease;
}

.navbar-brand img:hover {
    transform: scale(1.1);
}

.nav-link {
    color: white !important;
    font-weight: 500;
    margin: 0 10px;
    transition: all 0.3s ease;
}

.nav-link:hover {
    transform: translateY(-2px);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar-toggler {
    border: none;
    color: white;
}

.btn-custom {
    background-color: #B93F2A;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    padding: 8px 20px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.btn-custom:hover {
    transform: translateY(-2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #B93F2A;
}

@media (max-width: 991px) {
    .navbar-nav {
        padding: 1rem 0;
    }

    .nav-link {
        padding: 0.5rem 0;
    }

    .btn-custom {
        margin-top: 10px;
    }
}
