.hero-section {
    background-image: url(../assets/fundo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
}

.lead {
    font-size: 20px;
    font-weight: 500;

}

a {
    color: #B93F2A;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #9a3423;
    text-decoration: none;
}

.btn {
    background-color: #B93F2A;
    color: #fff;
    padding: 10px 30px;
    border-radius: 50px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #9a3423;
}

@media (max-width: 768px) {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 24px;
    }

    p,
    .lead {
        font-size: 16px;
    }

    .navbar-brand span {
        font-size: 16px;

    }

    .navbar-nav {
        text-align: center;
        background-color: #FDB347;
    }

    .btn {
        width: 100%;
        margin-bottom: 10px;
    }

    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}